<div id="loginIndicator" class="typcn typcn-user"></div>
<div id="panelClose" class="typcn typcn-delete-outline"></div>
<div id="addControls"></div>
<div id="navigation">
	<span class="typcn typcn-chevron-left"></span>
	<div id="add" class="typcn typcn-plus"></div>
	<span class="typcn typcn-chevron-right"></span>
</div>

<script>
$("#add").click(function() {
	$(this).fadeOut();
	ui.showPanel("create/event.htm");
});

$("#panelClose").click(function() {
	$(this).fadeOut();
	$("#add").fadeIn();
	ui.slideInControls();
	$("#addControls").fadeOut(function() {
		$(this).empty();
	});
});
</script>
