<div id="loginIndicator" class="typicn user"></div>
<div id="panelClose" class="typicn times"></div>
<div id="addControls"></div>
<div id="navigation">
	<div id="add" class="typicn plus"></div>
	<span class="typicn previous"></span>
	<span class="typicn next"></span>
</div>

<script>
$("#add").click(function() {
	$(this).fadeOut();
	ui.slideOutControls();
	$("#addControls").show().load("templates/desktop/event.htm");
	$("#panelClose").fadeIn();
});

$("#panelClose").click(function() {
	$(this).fadeOut();
	$("#add").fadeIn();
	ui.slideInControls();
	$("#addControls").fadeOut(function() {
		$(this).empty();
	});
});
</script>
