body{font-family:"Segoe UI","Open Sans",Verdana,Arial,sans-serif;height:100%;margin:0;padding:0;text-align:center;}body *{margin:0;padding:0;text-align:left;}
#container{height:100%;position:absolute;width:100%;}
#name{bottom:15%;color:#f3f3f3;font-size:20.5em;margin-right:300px;overflow:hidden;position:absolute;right:30px;text-shadow:#f3f3f3 0 0 1px;z-index:-3;}
#year{bottom:0;color:#f3f3f3;font-size:12.5em;left:5%;overflow:hidden;position:absolute;text-shadow:#f3f3f3 0 0 1px;width:95%;z-index:-3;}
#month{border-spacing:0;height:100%;padding-right:300px;table-layout:fixed;width:100%;z-index:2;}#month .today{border-color:#0099ff;color:#0099ff;}
#month .sideMonth{color:#dddddd;}
#month td,#month th{border-right:1px solid #dddddd;color:#888;text-align:right;}
#month td{border-top:1px solid #dddddd;color:black;padding:1%;vertical-align:top;}
#month th{color:#dddddd;font-weight:normal;height:2em;padding:0 1%;vertical-align:bottom;}
#controls{background-color:white;color:#888888;font-size:1.8em;height:100%;position:absolute;right:0;width:300px;z-index:1;}#controls #loginIndicator{float:right;}
#controls.loggedIn #loginIndicator{color:#0099ff;}
#controls #navigation{bottom:0;position:absolute;width:100%;}#controls #navigation .left,#controls #navigation .right{cursor:pointer;margin:0 5px;}#controls #navigation .left:hover,#controls #navigation .right:hover{color:#0099ff;}
#controls #navigation .left{float:left;}
#controls #navigation .right{float:right;}
#overlay{-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";background-color:rgba(0, 0, 0, 0.6);bottom:0;display:none;left:0;position:absolute;right:0;top:0;z-index:5;}#overlay .content{background-color:white;left:50%;margin-left:-150px;padding:10px;position:absolute;top:30%;width:300px;z-index:6;}
